In [1]:
import sys
import os

# Add the parent directory to the system path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from jarjarquant import Jarjarquant

In [2]:
# Create an instance of Jarjarquant
jjq = Jarjarquant()

# Run the following code to use ib_async library within a Jupyter notebook
from ib_async import *
util.startLoop()

In [3]:
# Use the get_tws_ticker method from data gatherer
# Empty end date implies fetching data upto the last available date
await jjq.data_gatherer.get_tws_ticker(ticker='AAPL', exchange='SMART', currency='USD', end_date='', duration='1 D', bar_size='1 min')

,date,open,high,low,close,volume,average,barCount
0,2025-02-14 09:30:00-05:00,241.21,242.80,240.99,242.77,905127.0,241.703,2724
1,2025-02-14 09:31:00-05:00,242.76,242.82,241.60,242.05,283514.0,242.243,1613
2,2025-02-14 09:32:00-05:00,242.05,242.78,242.03,242.39,230903.0,242.286,1265
3,2025-02-14 09:33:00-05:00,242.37,243.00,242.32,242.41,212213.0,242.732,1150
4,2025-02-14 09:34:00-05:00,242.39,242.77,242.25,242.68,128499.0,242.533,684
...,...,...,...,...,...,...,...,...
385,2025-02-14 15:55:00-05:00,245.04,245.04,244.63,244.70,290226.0,244.799,1474
386,2025-02-14 15:56:00-05:00,244.72,245.06,244.70,245.00,267425.0,244.852,1458
387,2025-02-14 15:57:00-05:00,245.01,245.11,244.88,244.99,241175.0,245.014,1309
388,2025-02-14 15:58:00-05:00,244.99,245.00,244.73,244.91,240600.0,244.853,1554
389,2025-02-14 15:59:00-05:00,244.90,245.05,244.50,244.57,593569.0,244.727,3289

In [6]:
# Get random price samples
# Valid Bar Sizes:
# 1 secs 5 secs	10 secs	15 secs	30 secs
# 1 min	2 mins	3 mins	5 mins	10 mins	15 mins	20 mins	30 mins
# 1 hour 2 hours 3 hours 4 hours 8 hours
# 1 day
# 1 week
# 1 month
data = await jjq.data_gatherer.get_random_price_samples_tws(num_tickers_to_sample=1, years_in_sample=1, bar_size='5 mins')
data[0].head()  # Display the first few rows of the sampled data

,date,open,high,low,close,volume,average,barCount
0,2013-01-02 09:30:00-05:00,23.00,23.00,22.85,22.86,1352100.0,22.941667,1315
1,2013-01-02 09:35:00-05:00,22.86,22.94,22.85,22.89,599400.0,22.886000,1229
2,2013-01-02 09:40:00-05:00,22.89,22.90,22.82,22.83,784500.0,22.869333,996
3,2013-01-02 09:45:00-05:00,22.84,22.92,22.83,22.90,472200.0,22.889667,815
4,2013-01-02 09:50:00-05:00,22.90,22.93,22.89,22.92,564300.0,22.908333,662