In [8]:
import sys
import os
import nest_asyncio
nest_asyncio.apply()

# Add the parent directory to the system path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from jarjarquant import Jarjarquant
jjq = Jarjarquant()

In [4]:
# Use the get_tws_ticker method from data gatherer
# Empty end date implies fetching data upto the last available date
jjq.data_gatherer.get_tws_ticker(ticker='AAPL', exchange='SMART', currency='USD', end_date='', duration='1 D', bar_size='1 min', what_to_show='TRADES')

,date,Open,High,Low,Close,Volume,average,barCount
0,2025-02-21 09:30:00-05:00,246.01,246.57,245.68,246.19,2519227.0,245.915,1141
1,2025-02-21 09:31:00-05:00,246.19,246.61,245.88,246.20,102175.0,246.276,620
2,2025-02-21 09:32:00-05:00,246.21,246.64,246.12,246.51,122476.0,246.315,681
3,2025-02-21 09:33:00-05:00,246.51,246.62,246.24,246.32,71004.0,246.414,499
4,2025-02-21 09:34:00-05:00,246.32,246.50,246.21,246.21,65267.0,246.333,395
...,...,...,...,...,...,...,...,...
385,2025-02-21 15:55:00-05:00,245.83,245.93,245.38,245.54,287682.0,245.606,1577
386,2025-02-21 15:56:00-05:00,245.54,245.62,245.41,245.43,198725.0,245.519,1133
387,2025-02-21 15:57:00-05:00,245.43,245.69,245.43,245.68,235495.0,245.564,1391
388,2025-02-21 15:58:00-05:00,245.67,245.78,245.62,245.78,264462.0,245.716,1533
389,2025-02-21 15:59:00-05:00,245.78,245.82,245.37,245.59,815655.0,245.589,4801

In [5]:
# Get random price samples
# Valid Bar Sizes:
# 1 secs 5 secs	10 secs	15 secs	30 secs
# 1 min	2 mins	3 mins	5 mins	10 mins	15 mins	20 mins	30 mins
# 1 hour 2 hours 3 hours 4 hours 8 hours
# 1 day
# 1 week
# 1 month
data = jjq.data_gatherer.get_random_price_samples_tws(num_tickers_to_sample=1, years_in_sample=1, bar_size='1 day')
data[0].head()  # Display the first few rows of the sampled data

         date    Open    High     Low   Close     Volume  average  barCount
0  2018-01-17  331.46  335.74  330.32  334.86   620155.0  333.953      4069
1  2018-01-18  334.11  335.92  332.99  333.00   539609.0  334.232      3333
2  2018-01-19  334.24  334.89  331.78  332.00   937726.0  332.837      5496
3  2018-01-22  331.77  332.70  328.97  329.00  1043736.0  330.603      7755
4  2018-01-23  329.99  331.15  328.51  328.70   687909.0  329.634      4754

In [6]:
# Override years_in_sample to get samples less than 1 year by specifying a custom duration
# Duration formnat:
# "<integer> <duration_unit>"
# Valid durations:
# S	Seconds
# D	Day
# W	Week
# M	Month
# Ensure years_in_sample is an integer and greater than the specified duration - not specifying years_in_sample will handle both these risks
data = jjq.data_gatherer.get_random_price_samples_tws(num_tickers_to_sample=1, bar_size='5 mins', duration='1 D')
data[0].head()  # Display the first few rows of the sampled data

,date,Open,High,Low,Close,Volume,average,barCount
0,2024-04-04 09:30:00-04:00,40.59,40.70,40.35,40.45,1548201.0,40.504,4345
1,2024-04-04 09:35:00-04:00,40.45,40.71,40.43,40.52,875790.0,40.552,3551
2,2024-04-04 09:40:00-04:00,40.52,40.76,40.50,40.71,737174.0,40.655,3094
3,2024-04-04 09:45:00-04:00,40.71,40.75,40.53,40.65,647403.0,40.661,3570
4,2024-04-04 09:50:00-04:00,40.64,40.66,40.41,40.44,615366.0,40.515,2954

In [ ]:
# Get data for a sample of US stocks